<form action="<%= users_create_path  %>" class="container" id="create_users">
  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" type="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" id="name">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
